<template>
    <div class="about">
        <div v-for="group_name in groups"
             :key="group_name">
            <Groups v-bind:group="group_name.group"/>
        </div>
    </div>
</template>

<script>
    import Groups from '@/components/Groups.vue'
    import axios from "axios";

    export default {
        name: 'home',
        components: {
            Groups
        },
        data() {
            return {
                groups: []
            }
        },
        created() {
            axios.get('https://dajubkzi0m.execute-api.us-east-1.amazonaws.com/v1/teams', {})
                .then(res => {
                    this.teams = res.data.body;
                    console.log(this.teams.group);
                    const result = this.teams.reduce((unique, o) => {
                        if (!unique.some(team => team.group === o.group)) {
                            unique.push(o);
                        }
                        return unique;
                    }, []);
                    this.groups = result
                })
                .catch(err => console.log(err));
        }
    }
</script>
