<template>
    <div>
        <h5>Group {{group}}</h5>
        <div v-bind:key="group.name" v-for="group in filteredGroup">
            {{group.name}}
            <img  width="20px" v-bind:src="group.flag"
            alt="">

        </div>
    </div>

</template>

<script>
    import axios from 'axios';

    export default {
        name: "Groups",
        props: {
            group: String,
        },
        data() {
            return {
                filteredGroup: [],
            }
        },
        created() {
            axios.get('https://dajubkzi0m.execute-api.us-east-1.amazonaws.com/v1/teams', {})
                .then(res => {
                    this.teams = res.data.body;
                    this.filteredGroup = this.teams.filter(team => team.group === this.group)
                })
                .catch(err => console.log(err));
        }
    }
</script>

<style scoped>

</style>
